@import './design-tokens/tokens.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  background: var(--color-surface-sunken);
  color: var(--color-text-primary);
}
